<!--Header-->
<header>
    <mat-toolbar color="accent" class="mat-elevation-z6 header-toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="grow">
        <div class="logo-container" fxLayout="row" fxLayoutAlign="strat center" (click)="goHome()">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <img class="logo" src="assets/img/logo.jpg" alt="logo entra">
            </div>
            <div class="text-logo">NTRA</div>
        </div> 
              
        <div fxLayout="row" fxLayoutGap.sm="8px" fxLayoutGap="25px" fxShow.sm="true" fxShow.gt-sm="true" fxShow="false">
            <button *ngIf="accountState$ !== undefined && accountState$.loggedIn && accountState$.userClaims && 
                           (accountState$.userClaims.role === 'SuperUser' || accountState$.userClaims.role === 'Admin')" 
                    mat-icon-button color="primary" (click)="goAdmin()" title="Administación" aria-label="ballot icon">
                <mat-icon>manage_accounts</mat-icon>
            </button>
             <button *ngIf="accountState$ !== undefined && accountState$.loggedIn && accountState$.userClaims && 
                            (accountState$.userClaims.role === 'SuperUser' || accountState$.userClaims.role === 'Admin' || accountState$.userClaims.role === 'Shop')" 
                    mat-icon-button color="primary" (click)="goShopAdmin()" title="Gestión Tienda" aria-label="ballot icon">
                <mat-icon>admin_panel_settings</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="goProducts()" title="Productos" aria-label="ballot icon">
                <mat-icon>ballot</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="goShops()" title="Tiendas" aria-label="store icon">
                <mat-icon>store</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="goSearch()" title="Buscar" aria-label="search icon">
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="goCart()" title="Carro" aria-label="shopping_cart icon">
                <mat-icon>shopping_cart</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="goProfile()" title="Cuenta" aria-label="account_circle icon">
                <mat-icon>account_circle</mat-icon>
            </button>
            <button *ngIf="accountState$ !== undefined && accountState$.loggedIn" 
                    mat-icon-button color="primary" (click)="logout()" title="Salir" aria-label="logout icon">
                <mat-icon>logout</mat-icon>
            </button>
        </div>
    </mat-toolbar>
</header>
