<!--Header-->
<header>
    <mat-toolbar color="accent" class="mat-elevation-z6 header-toolbar" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="grow">
        <div class="logo-container" fxLayout="row" fxLayoutAlign="strat center" (click)="goHome()">
            <div fxLayout="row" fxLayoutAlign="center center" >
                <img class="logo" src="assets/img/logo.jpg" alt="logo entra">
            </div>
            <div class="text-logo">NTRA</div>
        </div>        
        <div></div>
    </mat-toolbar>
</header>
