h1 {
    font-size: 30px;
    text-align: center;
}

mat-card {    
    padding: 0;
}

.login-card {
    min-height: 400px;
    margin-top: 20px;
}

.card-head {
    padding: 16px 16px 0 16px;
    background-color: var(--accent-color);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

form {
    padding: 0;
}

.form-h-pad {
    padding: 0 16px;
}

.card-foot {
    margin-top: 20px;
    padding: 0 10px;
}

mat-icon {
    cursor: pointer;
}

.card-head,
.links-text {
    color: var(--primary-color);
}

.register-container {
    margin-top: 20px;
}

.reset-container {
    margin: 10px 0;
}

.reg-h-m {
    margin-left: 10px;
}

.links-text {
    cursor: pointer;
}
