mat-form-field {
    margin-right: 25px;
}

.add-user-container {
    margin: 15px;    
}

.filter {
    width: 100%;
}

.button-new {
    margin-top: -15px;
}

.table-container {
    overflow: auto; 
    padding: 15px;
}

.mat-table {
    width: 100%;
}

.mat-column-actions {
    width: 135px;
}

.mat-cell {
    padding: 0 8px;
  }

.edit-button {
    margin-right: 6px;
}

.inactive {
    color: red;
}
