<div *ngIf="adminState$ !== undefined && !adminState$.pending && userlist !== undefined && userlist !== null" fxFill fxLayout="column" fxLayoutAlign="start center" fxFlex="grow">
    <div class="main-content" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="grow">
        <div class="add-user-container" fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" (click)="createUser()">Nuevo Usuario</button>
        </div>
        <mat-form-field>
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Buscar usuario" #input>
        </mat-form-field>
        <div>
            <div class="table-container">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
                    <ng-container matColumnDef="userName">
                        <th mat-header-cell *matHeaderCellDef><strong>Usuario</strong></th>
                        <td mat-cell *matCellDef="let element">{{element.userName}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef><strong>Email</strong></th>
                        <td mat-cell *matCellDef="let element">{{element.email}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="role">
                        <th mat-header-cell *matHeaderCellDef><strong>Rol</strong></th>
                        <td mat-cell *matCellDef="let element">{{element.role}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="creationDate">
                        <th mat-header-cell *matHeaderCellDef><strong>Fecha Alta</strong></th>
                        <td mat-cell *matCellDef="let element">{{element.creationDate | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="actions"> 
                        <th mat-header-cell *matHeaderCellDef></th>
                        <mat-cell *matCellDef="let row" fxLayoutGap.sm="8px">
                            <button class="edit-button" mat-icon-button color="accent" (click)="editUser(row)"
                                    [disabled]="(currentRole$ !== 'SuperUser' && row.role === 'SuperUser') || (currentRole$ !== 'SuperUser' && row.role === 'Admin')">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteUser(row)" 
                                    [disabled]="(currentRole$ !== 'SuperUser' && row.role === 'SuperUser') || (currentRole$ !== 'SuperUser' && row.role === 'Admin')" >
                                <mat-icon>delete</mat-icon>
                            </button>
                       </mat-cell>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Ningún dato coincide con la búsqueda "{{input.value}}"</td>
                    </tr>
                </table>
            </div> 
        </div>
    </div>    
</div>

<!-- <div *ngIf="adminState$ === undefined || adminState$.pending || userlist === undefined || userlist === null" class="spinner-container" fxFill fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div> -->
