<div *ngIf="adminState$ !== undefined && !adminState$.pending" fxFill fxLayout="column" fxLayoutAlign="start center" fxFlex="grow">
    <div class="main-content" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="grow">
        <h1>Tiendas</h1>
        <nav class="buttons-container"  fxLayout="row" fxLayoutAlign="end center">
            <button mat-raised-button color="primary" (click)="createShop()">Nueva Tienda</button>
        </nav> 
            
        <div fxLayout="column" fxLayoutAlign="start-stretch" fxFlex="grow">
            <mat-form-field >
                <mat-label>Buscar</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Buscar tienda" #input>
            </mat-form-field>   
            <div class="table-container">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
            
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Nombre</strong></th>
                        <td mat-cell [ngClass]="{'inactive': !element.isActive}" *matCellDef="let element">{{element.name}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Email</strong></th>
                        <td mat-cell [ngClass]="{'inactive': !element.isActive}" *matCellDef="let element">{{element.email}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="city">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Ciudad</strong></th>
                        <td mat-cell [ngClass]="{'inactive': !element.isActive}" *matCellDef="let element">{{element.city}}</td>
                    </ng-container>

                    <ng-container matColumnDef="owner">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Propietario</strong></th>
                        <td mat-cell [ngClass]="{'inactive': !element.isActive}" *matCellDef="let element">{{element.owner}}</td>
                    </ng-container>
                    
                    <ng-container matColumnDef="creationDate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header><strong>Fecha Alta</strong></th>
                        <td mat-cell [ngClass]="{'inactive': !element.isActive}" *matCellDef="let element">{{element.creationDate | date: 'dd/MM/yyyy'}}</td>
                    </ng-container>
        
                    <ng-container matColumnDef="actions"> 
                        <th mat-header-cell *matHeaderCellDef></th>
                        <mat-cell *matCellDef="let row" fxLayoutGap.sm="8px">
                            <button class="edit-button" mat-icon-button color="accent" (click)="editShop(row)">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn" (click)="deleteShop(row)">
                                <mat-icon>delete</mat-icon>
                            </button>
                       </mat-cell>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">Ningún dato coincide con la búsqueda "{{input.value}}"</td>
                    </tr>
                </table>
            </div> 
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <span class="back" (click)="goUsers()">Volver a Usuarios</span>
        </div>
    </div>    
</div>

<div *ngIf="adminState$ === undefined || adminState$.pending" class="spinner-container" fxFill fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>
