<div *ngIf="adminState$ !== undefined && !adminState$.pending" fxFill fxLayout="column" fxLayoutAlign="strat center" fxFlex="grow">
    <div class="main-content" fxLayout="column" fxLayoutAlign="start stretch" fxFlex="grow">
        <h1>Crear Tipo de compra</h1>
        <div>
            <form  fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="grow" [formGroup]="createForm" (ngSubmit)="createPurchaseType()">
                <div class="inputs-container" fxFlex="grow" fxLayout="column" fxLayoutAlign="space-around stretch">
                    <!-- Code -->
                    <section fxLayout="column" fxLayoutAlign="strat stretch">
                        <mat-form-field appearence="fill">
                            <mat-label>Código</mat-label>
                            <input matInput type="text" [formControl]="code" required />
                            <mat-error *ngIf="code.hasError('pattern') && !code.hasError('required')">
                                Carácter inválido
                            </mat-error>
                            <mat-error *ngIf="(code.hasError('minlength') || code.hasError('maxlength')) && !code.hasError('required')">
                                El campo Código debe ser de entre 6 y 30 carácteres
                            </mat-error>
                            <mat-error *ngIf="code.hasError('required')">
                                Campo Código <strong>obligatorio</strong>
                            </mat-error>
                        </mat-form-field>
                    </section> 
                    <!-- Name -->
                    <section fxLayout="column" fxLayoutAlign="strat stretch">
                        <mat-form-field appearence="fill">
                            <mat-label>Nombre</mat-label>
                            <input matInput type="text" [formControl]="name" required />
                            <mat-error *ngIf="name.hasError('pattern') && !name.hasError('required')">
                                Carácter inválido
                            </mat-error>
                            <mat-error *ngIf="(name.hasError('minlength') || name.hasError('maxlength')) && !name.hasError('required')">
                                El campo Usuario debe ser de entre 6 y 55 carácteres
                            </mat-error>
                            <mat-error *ngIf="name.hasError('required')">
                                Campo Nombre <strong>obligatorio</strong>
                            </mat-error>
                        </mat-form-field>
                    </section>
                    <section fxFlex="15" fxLayout="column" fxLayoutAlign="center stretch">
                        <button mat-raised-button color="primary" type="submit" [disabled]="!createForm.valid">Crear</button>
                    </section>
                </div>                  
            </form>
        </div>  
        <div fxFlex="auto"></div>      
        <div fxLayout="row" fxLayoutAlign="center center">
            <span class="back" (click)="goPayments()">Volver a Estados y Tipos</span>
        </div>
    </div>
</div>

<div *ngIf="adminState$ === undefined || adminState$.pending" class="spinner-container" fxFill fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner></mat-spinner>
</div>
