<div fxFill fxLayout="column">
    <div fxLayout="column" fxFlex="auto"></div>
    <div fxLayout="row" fxLayoutAlign="center center" [@fadeInOut]>
        <mat-card class="mat-elevation-z4 main-content" fxFlex="40" fxFlex.sm="66" fxFlex.xs="100">    
            <form fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="grow" [formGroup]="registerForm" (ngSubmit)="userRegister()">
                <!-- User name -->
                <section fxLayout="column" fxLayoutAlign="strat stretch">
                    <mat-form-field appearence="fill">
                        <mat-label>User Name</mat-label>
                        <input matInput type="text" [formControl]="name" required />
                        <mat-error *ngIf="name.hasError('pattern') && !name.hasError('required')">
                            Invalid character
                        </mat-error>
                        <mat-error *ngIf="(name.hasError('minlength') || name.hasError('maxlength')) && !name.hasError('required')">
                            User name must be greater than 3 characters and less than 55 characters
                        </mat-error>
                        <mat-error *ngIf="name.hasError('required')">
                            User name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </section> 
                <!-- User surname -->
                <section fxLayout="column" fxLayoutAlign="strat stretch">
                    <mat-form-field appearence="fill">
                        <mat-label>User surname</mat-label>
                        <input matInput type="text" [formControl]="surname" />
                        <mat-error *ngIf="surname.hasError('pattern')">
                            Invalid character
                        </mat-error>
                        <mat-error *ngIf="surname.hasError('minlength') || surname.hasError('maxlength')">
                            User surname must be greater than 3 characters and less than 55 characters
                        </mat-error>
                    </mat-form-field>
                </section>  
                <!-- User type -->
                <section fxLayout="column" fxLayoutAlign="strat stretch">
                    <mat-form-field appearence="fill">
                        <mat-label>User type</mat-label>
                        <mat-select [formControl]="type" required placeholder="Select a value">
                            <mat-option *ngFor="let type of eUserTypes | keyvalue" [value]="type.value">
                                {{type.value}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="type.hasError('required')">
                            User type is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </section> 
                <!-- E-mail -->
                <section fxLayout="column" fxLayoutAlign="strat stretch">
                    <mat-form-field appearence="fill">
                        <mat-label>Email</mat-label>
                        <input matInput type="email" [formControl]="email" required placeholder="useremail@uoc.edu"/>
                        <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="email.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </section> 
                <!-- Password -->
                <section fxLayout="column" fxLayoutAlign="strat stretch">
                    <mat-form-field appearence="fill">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" [formControl]="password" />
                        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
                            User password must be greater than 8 characters
                        </mat-error>
                        <mat-error *ngIf="password.hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </section>  
                <!-- Repeat Password -->
                <section fxLayout="column" fxLayoutAlign="strat stretch">
                    <mat-form-field appearence="fill">
                        <mat-label>Repeat Password</mat-label>
                        <input matInput type="password"  [formControl]="password2" required/>
                        <mat-error *ngIf="password2.hasError('required')">
                            Repeat Password is <strong>required</strong>
                        </mat-error>                    
                    </mat-form-field>  
                    <span class="customError" *ngIf="registerForm.errors">
                        <span *ngIf="registerForm.errors.equalValue">Password controls must be <strong>equal</strong></span>
                    </span>               
                </section>  
                <section fxLayout="column" fxLayoutAlign="strat stretch">
                    <h3 class="customError" *ngIf="userState$.error && bSubmitted">
                        That email is already assigned to another user.
                    </h3>
                    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">JOIN NOW</button>
                </section>  
            </form>   
        </mat-card>   
    </div>
    <div fxLayout="column" fxFlex="auto"></div>
</div>
