/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #8bc34a;
  --accent-color: #424242;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button{
    color: white !important;
}

app-login,
app-profile,
app-home {
    overflow-y: auto;
    flex-grow: 1;
}

 