/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #8bc34a;
  --accent-color: #424242;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-raised-button {
    color: white !important;
}

.customError {
    color:red;
    font-size: 75%;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    letter-spacing: normal;
    margin-top: -12px;
    margin-bottom: 12px;
}


app-login,
app-register,
app-profile,
app-home {
    overflow-y: auto;
    flex-grow: 1;
}

 