<h1 mat-dialog-title>Restablecer Contraseña</h1>
<div mat-dialog-content>
  <p>Introduce tu email para iniciar el proceso de restablecer Contraseña</p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="data.email">
  </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Enviar</button>
    <button mat-button (click)="onNoClick()">Cancelar</button>  
</div>


<!-- <form fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex="grow" [formGroup]="resetForm" (ngSubmit)="login()">
    <mat-form-field appearence="fill">
        <mat-label>Usuario</mat-label>
        <input matInput type="text" [formControl]="username" required />
        <mat-error *ngIf="username.hasError('required')">
            Campo Usuario <strong>obligatorio</strong>
        </mat-error>
    </mat-form-field>
</form> -->