<h1 mat-dialog-title>Restablecer Contraseña</h1>
<div class="content" mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
  <p>Introduce tu email para iniciar el proceso de restablecer Contraseña</p>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email">
  </mat-form-field>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around end">
    <button mat-raised-button color="primary" mat-dialog-close (click)="onOkClick(email)" cdkFocusInitial>Enviar</button>
    <button mat-stroked-button (click)="onNoClick()">Cancelar</button>  
</div>