<h1 mat-dialog-title>Restablecer Contraseña</h1>
<form #resetForm="ngForm" (ngSubmit)="onOkClick(resetForm)" fxLayout="column" fxLayoutAlign="start stretch">
  <div class="content" mat-dialog-content fxLayout="column" fxLayoutAlign="start stretch">
    <p>Introduce tu email para iniciar el proceso de restablecer Contraseña</p>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" name="email" ngModel #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="xxxxx@xxxx.xxx" />
      <mat-error *ngIf="email.touched && email.errors?.pattern && !email.errors?.required">
        Campo Email si formato de email válido
      </mat-error>
      <mat-error *ngIf="email.touched && email.errors?.required">
        Campo Email <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-around end">
      <button mat-raised-button color="primary" mat-dialog-close type="submit" [disabled]="!resetForm.valid">Enviar</button>
      <button mat-stroked-button (click)="onNoClick()">Cancelar</button>  
  </div>
</form>